from dataclasses import dataclass

from spry import key


@dataclass(slots=True)
class Todo:
    id: int | None = key()
    title: str = ""
    done: bool = False


@dataclass(slots=True)
class CreateTodo:
    title: str
