from spry import AppBuilder

from __PACKAGE_NAME__.data import AppDbContext


def create_app():
    builder = AppBuilder()
    builder.add_db_context(AppDbContext)
    builder.discover_controllers("__PACKAGE_NAME__")
    app = builder.build()

    scope = app.create_scope()
    try:
        db = scope.resolve(AppDbContext)
        db.ensure_created()
    finally:
        scope.dispose()

    return app
