# __PROJECT_NAME__

Projeto gerado com `Spry`.

## Rodando

```bash
pip install spry-core
spry run --app __PACKAGE_NAME__.app:create_app
```

## Hot Reload

```bash
spry watch --app __PACKAGE_NAME__.app:create_app
```

## Migracoes

```bash
spry migrate add initial --context __PACKAGE_NAME__.data:AppDbContext
spry migrate apply --database __PROJECT_SLUG__.db
```

## Seed

```bash
spry seed --entry __PACKAGE_NAME__.seed:seed --context __PACKAGE_NAME__.data:AppDbContext --database __PROJECT_SLUG__.db
```
